# docs requirements:
mkdocs-material==4.6.3
pymdown-extensions==6.3
mkdocs-git-revision-date-localized-plugin==0.4.6
mkdocs-minify-plugin==0.2.3
mkdocstrings==0.7.1
mkdocs-plugin-progress==1.1.4

# modules needed to get automatically documented:
-e git+https://github.com/RDIL/filehandlers#egg=filehandlers
